.AboutUs{
    width: 91rem;
    padding: 3rem 0;
    margin: auto;
    /* background-color: aqua; */
}
.TheGeneralManager{
    /*overflow: hidden;/* 元素墙 */
    position: relative;/*相对定位*/
    display: flex;/*弹性盒模型*/
    align-items: center;/* 测轴两侧对齐 */
}
.quotes{
    width: 2rem;
    height: 28rem;
    margin: 0 2rem;
    padding: 0 3.3rem;
    font-size: 1.8rem;/*字体大小*/
    font-weight:bold;/*字体粗细*/
    text-align: center; /*文字水平居中*/
    border: 0.5rem solid rgb(69, 0, 109);/*实心边框 */
    box-shadow: 0 0 0.5rem 0.5rem rgb(187, 187, 187);/*阴影*/
    border-radius: 50%;/*圆角大小*/
}
.quotes > p{
    position: absolute;/* 绝对定位 */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1.9rem;
    height: 19.25rem;
    margin: auto;
}
.quotes1{
    background:linear-gradient(-55deg,rgb(255, 166, 0) 0%,transparent 50%,rgb(255, 166, 0)100%)bottom right/10rem 28rem no-repeat;
    border: 0.5rem solid rgb(69, 0, 109);/*实心边框 */
    box-shadow: 0 0 0.5rem 0.5rem rgb(187, 187, 187);/*阴影*/
}
.quotes1 > p{
    height: 14.4rem;
    color: rgb(224, 255, 255);
    -webkit-text-stroke: 0.05rem rgb(0, 0, 0);/* 描边 */
}
.quotes2{
    background:linear-gradient(-55deg,rgb(0, 98, 255) 0%,transparent 50%,rgb(0, 98, 255)100%)bottom right/10rem 28rem no-repeat;
    border: 0.5rem solid rgb(255, 0, 0);/*实心边框 */
    box-shadow: 0 0 0.5rem 0.5rem rgb(187, 187, 187);/*阴影*/
}
.quotes2 > p{
    height: 24rem;
    color: rgb(245, 224, 255);
    -webkit-text-stroke: 0.05rem rgb(247, 0, 255);/* 描边 */
}
.quotes3{
    background:linear-gradient(-55deg,rgb(225, 0, 255) 0%,transparent 50%,rgb(225, 0, 255)100%)bottom right/10rem 28rem no-repeat;
    border: 0.5rem solid rgb(255, 166, 0);/*实心边框 */
    box-shadow: 0 0 0.5rem 0.5rem rgb(187, 187, 187);/*阴影*/
}
.quotes3 > p{
    height: 19.25rem;
    color: rgb(255, 243, 224);
    -webkit-text-stroke: 0.05rem rgb(255, 0, 64);/* 描边 */
}
.quotes4{
    background:linear-gradient(-55deg,rgb(0, 238, 255) 0%,transparent 50%,rgb(0, 238, 255)100%)bottom right/10rem 28rem no-repeat;
    border: 0.5rem solid rgb(0, 102, 255);/*实心边框 */
    box-shadow: 0 0 0.5rem 0.5rem rgb(187, 187, 187);/*阴影*/
}
.quotes4 > p{
    color: rgb(224, 255, 231);
    -webkit-text-stroke: 0.05rem rgb(162, 0, 255);/* 描边 */
}
.TianLao{
    border-radius: 50%;/*圆角大小*/
    border: 0.5rem solid rgb(255, 102, 0);/*实心边框 */
    box-shadow: 0 0 0.5rem 0.5rem rgb(187, 187, 187);/*阴影*/
}
.TianLao0{
    position: absolute;/* 绝对定位 */
    top: 2rem;
    left: -5.8rem;
    border: 0.5rem solid rgb(212, 0, 255);/*实心边框 */
}
.TianLao1{
    position: absolute;/* 绝对定位 */
    top: 7rem;
    left: -1.3rem;
    border: 0.5rem solid rgb(179, 255, 0);/*实心边框 */
}
.animation1{
    margin-left: 6.2rem;
    background-color: blueviolet;
    border-radius: 50%;/*圆角大小*/
}
.animation{
    position: relative;/*相对定位*/
    top: 1rem;
    transition: 0.1s linear;
}
.animation:hover{
    top: 0;
}
.IntroductionToThe{
    display: flex;/*弹性盒模型*/
    margin-top: 5rem;
    justify-content: center;/* 主轴居中 */
}
.CompanyProfile{
    width: 7rem;
    height: 4rem;
    background:linear-gradient(-55deg,chartreuse 0%,transparent 50%,chartreuse 100%)bottom right/7rem 4rem no-repeat;
    font-size: 1.8rem;/*字体大小*/
    font-weight:bold;/*字体粗细*/
    color: rgb(232, 255, 189);/* 字体颜色 */
    line-height: 3.5rem;/*文字垂直居中*/
    text-align: center; /*文字水平居中*/
    -webkit-text-stroke: 0.09rem rgb(0, 102, 255);/* 描边 */
    border: 0.5rem solid rgb(195, 0, 255);/*实心边框 */
    border-radius: 40%;/*圆角大小*/
    box-shadow: 0 0 0.5rem 0.5rem rgb(187, 187, 187);/*阴影*/
}
.interface{
    margin-left: 10rem;
    background:linear-gradient(-55deg,rgb(0, 255, 200) 0%,transparent 50%,rgb(0, 255, 200)100%)bottom right/7rem 4rem no-repeat;
    color: rgb(189, 240, 255);/* 字体颜色 */
    -webkit-text-stroke: 0.09rem rgb(111, 0, 255);/* 描边 */
    border: 0.5rem solid rgb(255, 0, 191);/*实心边框 */
}

.link{
    position: fixed;/* 固定定位 */
    top: 25rem;
    left: 107.5rem
}
.DecorateTheJump{
    position: relative;/*相对定位*/
    display: inline-block;/*变元素*/
    width: 8.1rem;
    height: 7rem;
    background-color: rgb(255, 174, 0);
    border-radius: 0.3rem;/*圆角大小*/
}
.DecorateTheJump:hover{
    background-color: rgb(0, 81, 255);
}
.AdornmentPicture{
    width: 8.1rem;
    height: 5.5rem;
    border-radius: 0.3rem 0.3rem 0 0;/*圆角大小*/
}
.decorate{
    position: absolute;/* 绝对定位 */
    top: 2.5rem;
    left: 3.2rem;
    width: 2.5rem;
    height: 1rem;
    animation-name: decorate;
    animation-duration: 0.75s;
    animation-timing-function:linear;/* 匀速 */
    animation-iteration-count:infinite;/* 无限循环 */
}
.DecorateTheJump{
    margin-top: 1rem;
}
.DecorateTheJump > p{
    font-size: 1rem;/*字体大小*/
    font-weight:bold;/*字体粗细*/
    color: rgb(0, 0, 0);/* 字体颜色 */
    line-height: 1.5rem;/*文字垂直居中*/
    text-align: center; /*文字水平居中*/
}
.DecorateTheJump:hover > p{
    color: rgb(255, 248, 248);/* 字体颜色 */
}
@keyframes decorate{
    0%{
        width: 2rem;
        height: 1rem;
    }
    100%{
        position: absolute;/* 绝对定位 */
        top: 0.5rem;
        left: 0.8rem;
        width: 6.5rem;
        height: 5rem;
    }
}